<ion-view view-title="About">
  <ion-content>
	    <div class="list card">

			  <div class="item item-avatar">
			    <img src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-1/c3.0.160.160/p160x160/58832_294810240649609_1823964070_n.png?oh=8f08dff486d14c37b55369f1e0509bc2&oe=58183B5D">
			    <h2>قناة الزيتونة | Zitouna TV</h2>
			    <p>Juin 06 , 2013</p>
			  </div>

			  <div class="item item-body">
			    <img class="full-image" src="https://scontent-mrs1-1.xx.fbcdn.net/v/l/t1.0-9/922895_294810150649618_1147954762_n.png?oh=7deb2a7a93784866d7c66c4b47f6be05&oe=581E9EB0">

			    <p>
			      لن ندعي الحياد و الموضوعية, بل سننحاز إلى تطلعات الشعب و أهداف الثورة و رسالتنا أوسع من أن تقف عند حدود المشاغبة و التعطيل صدورنا أوسع في تحمل الأذى لا لشيء سوى أن ننظر لمن يشاغب بعين الرحمة و الأخوة الإنسانية , قدوتنا ي ذلك رسول المحبة و الإنسانية خير خلق الله.
		-----------------------------
		يمكنكم التواصل معنا و مدنا باقتراحاتكم عن طريق البريد الإلكتروني : 
		contact@zitounatv.com

			      Début le 6 juin 2013
			       Juin 06 , 2013
			    </p>
			     

			     
			  </div>

			 	 
 
	    </div>

	            
				   
			    
  </ion-content>

  					
</ion-view>
