<ion-view view-title="البث المباشر">
  <ion-content>
    <p ><h1 style="color:green;" align="center" >Tv الزيتونة </h1> </p>

            
            <div class="row">
               <div class="col">
                    <div class="video-container">
                      <iframe src="http://tootvs.com/mep/zitouna.html" frameborder="0" allowfullscreen></iframe>
                    </div>
               </div>
            </div>
           

  </ion-content>

          <div class="tabs tabs-icon-left tabs-positive">
                <a class="tab-item" href="https://web.facebook.com/zitounatv.official/?fref=ts">
                  <i class="icon ion-social-facebook"></i>
                  facebook
                </a>
                <a class="tab-item" href="http://www.zitounatv.com/">
                  <i class="icon ion-ios-world"></i>
                  zitounatv.com
                </a>
                <a class="tab-item" href="https://www.youtube.com/channel/UCQ7Y6rkrtJK9OfxYD-iWsbg">
                  <i class="icon ion-social-youtube"  ></i>
                  youtube
                </a>
              </div>
</ion-view>
