  <ion-view view-title="map">
  <ion-content>
    <h1 align="center">Map</h1>
    	
	<div class="row">
               <div class="col">
                    <div class="video-container">		
	        			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12769.37585235225!2d10.21091!3d36.8581849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a94cc76ee7ff71!2sZaytouna+Tv!5e0!3m2!1sfr!2stn!4v1470787489879" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>	

	                </div>
				</div> 
	</div>	       				
  </ion-content>
  <div class="tabs tabs-icon-left tabs-positive">
            <a class="tab-item" href="https://web.facebook.com/zitounatv.official/?fref=ts">
              <i class="icon ion-social-facebook"></i>
              facebook
            </a>
            <a class="tab-item" href="http://www.zitounatv.com/">
              <i class="icon ion-ios-world"></i>
              zitounatv.com
            </a>
            <a class="tab-item" href="https://www.youtube.com/channel/UCQ7Y6rkrtJK9OfxYD-iWsbg">
              <i class="icon ion-social-youtube"  ></i>
              youtube
            </a>
              </div>
  </ion-view>
