<ion-view view-title="Actualite">

  <ion-content>
 
    <ion-list >
      <ion-item ng-repeat="playlist in playlists" href="#/app/{{playlist.id}}">
        <i class="{{playlist.icon}}">{{playlist.title}}</i>
      </ion-item> 
    </ion-list>
  
     
    
    
     


  </ion-content>
   
             <div class="tabs tabs-icon-left tabs-positive">
                <a class="tab-item" href="https://web.facebook.com/zitounatv.official/?fref=ts">
                  <i class="icon ion-social-facebook"></i>
                  facebook
                </a>
                <a class="tab-item" href="http://www.zitounatv.com/">
                  <i class="icon ion-ios-world"></i>
                  zitounatv.com
                </a>
                <a class="tab-item" href="https://www.youtube.com/channel/UCQ7Y6rkrtJK9OfxYD-iWsbg">
                  <i class="icon ion-social-youtube"  ></i>
                  youtube
                </a>
              </div>

</ion-view>
